

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main{
    width: 80%;
    margin: auto;
    opacity: 0.6;
}

body{
    background: #d58821;
}

.tweet{
    margin: auto;
    font-family: "century gothic";
    font-size: 50px;
    margin: 50px;
    padding: 40px;
    color: white;
}

.tweet .name{
    font-style: italic;
    font-size: 35px;
}

.news{
    margin: auto;
    font-family: "century gothic";
    margin: 50px;
    padding: 40px;
    color: white;
}

.news .title{
    font-size: 50px;
    margin-bottom: 30px;
    /*text-decoration: underline;*/
    font-weight: bold;
}
.news .text{
    font-size: 30px;
}
.news img{
    width: 100%;
    border: 5px solid #ffffff;
    /*box-shadow: 2px 2px 10px #d5c326;*/
}














